<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="background-for-form">
</div>

<br>

<div class="form-styles">
    <form class="form-inline" role="form">  
    <div class="form-group">
      <%= f.label :where_are_ya? %><br>
      <%= f.text_field :origin, placeholder: 'Address or venue name'  %>
    </div>
    <div class="form-group">
      <%= f.label :where_ya_going? %><br>
      <%= f.text_field :destination, placeholder: 'Address or venue name' %>
    </div>
    <div class="form-group">
      <%= f.label :when_ya_leaving? %><br>
      <%= f.time_select :departure_time %>
    </div>
    <div class="form-group">
      <%= f.label :how_many_peeps? %><br>
      <%= f.number_field :number_of_people %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Let's Go!", :class => 'btn btn-lg'%>
    </div>
  </form>
</div>

<% end %>
