<video autoplay loop muted id="bgvid">
<!-- <source src="http://video.webmfiles.org/big-buck-bunny_trailer.webm" type="video/webm">
 --><source src="https://ia801605.us.archive.org/0/items/NycTrafficTimeLapse/NycTrafficH264.mp4" type="video/mp4">
</video>


<p id="notice"><%= notice %></p>


<div class="content">
<p>
  <strong>Origin:</strong>
  <%= @trip.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @trip.number_of_people %>
</p>



  <strong>Cab Details:</strong>
      <p>
        <%= @drivingroutedetails['distance'] %>
      </p>  
      <p>
        <%= @drivingroutedetails['time'] %>
      </p>

<strong>Subway Details:</strong>
      <p>
        <%= @transitroutedetails['distance'] %>
      </p>  
      <p>
        <%= @transitroutedetails['time'] %>
      </p> 

<strong>If you take the subway, you will:</strong>
      <p>
        <h5> ...prevent <%= @carbondioxideemission %>g of Carbon Dioxide from being released</h5>
      </p>
      <p>
       <h5> ...save <%= @gasolineused %> gallons of gasoline </h5>
      </p>
      <p>
       <h5> ...save <%= @moneysaved %> dollars of gasoline </h5>
      </p>
      <br>
       <!--  <%= @moneysaved %> -->
      


   

<p><a href="/">Back To Home</a></p>

</div>
<!-- https://maps.googleapis.com/maps/api/directions/json?origin=25broadyway&destination=pennstation,ny&mode=transit -->