<p id="notice"><%= notice %></p>



<p>
  <strong>Origin:</strong>
  <%= @trip.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @trip.number_of_people %>
</p>



  <strong>Cab Details:</strong>
      <p>
        <%= @drivingroutedetails['distance'] %>
      </p>  
      <p>
        <%= @drivingroutedetails['time'] %>
      </p>

<strong>Subway Details:</strong>
      <p>
        <%= @transitroutedetails['distance'] %>
      </p>  
      <p>
        <%= @transitroutedetails['time'] %>
      </p> 


   

<%= link_to 'Edit', edit_trip_path(@trip) %> 
<%= link_to 'Back', trips_path %>


<!-- https://maps.googleapis.com/maps/api/directions/json?origin=25broadyway&destination=pennstation,ny&mode=transit -->